body{
    background-color: black;
}
h1{
    font-size: 3rem;
    font-family: 'Libre Baskerville', serif;
}
.motivacao{
   border: 5px solid white;
   width: 100%;
    
}

.poster{
    color: goldenrod;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family: "Libre Baskerville", serif;
    text-align: center;

}